<h1 class="header">Login</h1>

<div class="container form-container">

    <%= form_tag '/login' do%>
        <%= render(FormInputComponent.new(id: "username-input")) do %>
            <%=
                text_field_tag :username,
                nil, placeholder: "Username",
                class: 'form-control my-form-control',
                :'aria-label' => 'username',
                required: true
            %>
        <% end %>
        <%= render(FormInputComponent.new(id: "password-input")) do %>
            <%=
                password_field_tag :password,
                nil, placeholder: "Password",
                class: 'form-control my-form-control',
                :'aria-label' => 'password',
                required: true
            %>
        <% end %>
        <%= submit_tag("Login", :class => 'btn btn-secondary') %>
    <%end%>
</div>
