<section class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="mb-2">Tasks manager</h1>
    <h2 class="mb-4">Plan your day, plan your future</h2>
    <% all_articles.each do |article| %>
        <%= render(ArticleComponent.new(
            text: article.text,
            alt: article.alt,
            src: article.image,
            title: article.title,
            textOnLeft: article.text_on_left 
        )) do %>
        <% end %>
    <% end %>
</section>
