<section class="article">
    <div class="<%= @textOnLeft ? 'order-2' : '' %>">
        <img alt="<%= @alt %>" src="/assets/<%= @src %>" class="h-100 reveal"/>
    </div>
    <div>
        <h3 class="mb-2"><%= @title %></h3>
        <p><%= @text %></p>
    </div>
</section>
