<div>
    <p>
        <strong>Title:</strong>
        <%= @title %>
    </p>
    <p class="description">
        <strong>Description:</strong>
        <%= @desc %>
    </p>
    <p class="status">
        <strong>Status:</strong>
        <%if @status %>
            <span>done</span>
        <%else%>
            <span>to do</span>
        <%end%>
    </p>
</div>
