<div class="container form-container">
  <%= form_with(model: task) do |form| %>
    <% if task.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render(FormInputComponent.new(id: "title-input")) do %>
      <%=
        form.text_field :title,
        placeholder: "Title",
        :'aria-label' => "Title",
        :class => 'form-control my-form-control',
        required: true
      %>
    <% end %>

    <%= render(FormInputComponent.new(id: "description-input")) do %>
      <%=
        form.text_area :description,
        placeholder: "Description",
        :'aria-label' => "Description",
        :class => 'form-control my-form-control'
      %>
    <% end %>

    <%= render(FormInputComponent.new(id: "status-input")) do %>
      <%= form.label :status, :class => 'mr-1 mb-0' %>
      <%= form.check_box :status %>
    <% end %>

    <div>
      <%= form.submit :class => 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
