<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1 class="mb-4">My tasks</h1>
  <div id="tasks" class="tasks-list">
    <div class="task-column">
      <h2 class="mb-3">To do</h2>
      <% current_user.tasks.each do |task| %>
        <% if task.status == false %>
          <%= render task %>
        <% end %>
      <% end %>
    </div>
    <div class="task-column">
      <h2 class="mb-3">Done</h2>
      <% current_user.tasks.each do |task| %>
        <% if task.status == true %>
          <%= render task %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>