<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= article.text %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= article.image %>
  </p>

  <p>
    <strong>Text on left:</strong>
    <%= article.text_on_left %>
  </p>

</div>
