<h1 class="header">Sign In</h1>

<div class="container form-container">

    <%= form_for @user do |f|%>
        <%= render(FormInputComponent.new(id: "description-username")) do %>
            <%=
                f.text_field :username,
                placeholder: "username",
                :'aria-label' => "username",
                :class => 'form-control my-form-control'
            %>
        <% end %>
        <%= render(FormInputComponent.new(id: "description-password")) do %>
            <%=
                f.password_field :password,
                placeholder: "password",
                :'aria-label' => "password",
                :class => 'form-control my-form-control'
            %>
        <% end %>
        <%= f.submit :class => 'btn btn-secondary' %>
    <%end%>
</div>
