<%
    toDoTasks = 0
    doneTasks = 0
    current_user.tasks.each do |task|
        if task.status == true
            doneTasks += 1
        else
           toDoTasks += 1
        end 
    end
    if current_user.tasks.length() > 0
        percentageDoneTasks = (doneTasks * 100) / current_user.tasks.length()
    else 
        percentageDoneTasks = 0
    end
%>

<div class="container">
    <h1 class="mb-4 small-header">Your progress in doing tasks</h1>
    <div class="progress mb-4 bg-secondary">
        <div
            class="progress-bar bg-warning"
            role="progressbar"
            style="width: <%= "#{percentageDoneTasks}"%>%"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="<%= "#{current_user.tasks.length()}"%>">
        </div>
    </div>
    <div>
        <div class="d-flex align-items-center mb-2">
            <div class="circle mr-2 bg-warning"></div>
            <p class="mb-0"><%= doneTasks%> done tasks</p>
        </div>
        <div class="d-flex align-items-center">
            <div class="circle mr-2 bg-secondary"></div>
            <p class="mb-0"><%= toDoTasks%> tasks to do</p>
        </div>
    </div>
<div>