@import "bootstrap";

* {
    outline: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    color: rgb(66, 64, 64);
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

main {
    flex: 1;
}

.article {
    padding: 0 0.5rem;
    img {
        max-height: 300px;
    }
 
    @include media-breakpoint-up(md) {
        display: flex;
        height: 400px;
        width: 100%;
        justify-content: space-between;
        img {
            max-height: 400px;
        }
    }


    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.task-column {
    flex: 1;
    @media screen and (min-width: 540px) {
        &:first-child {
            border-right: 2px solid lightgray;
            padding-right: 1rem;
        }
        &:last-child {
            padding-left: 1rem;
        }
    }
    .description {
        padding-right: 0.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .status {
        display: none;
    }
}


.icon-wrapper {
    svg {
        width: 25px;
        height: 25px;
        &:hover {
            transition: ease-in-out 0.2s;
            fill: rgb(0, 128, 90);
        }
    }
}

.task-wrapper {
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    &:last-child {
        border-bottom: unset;
    }
    padding: 1rem;
}

.header {
    text-align: center;
    padding: 1rem
}

.form-container {
    max-width: 600px;
    margin: auto;
}

.delete-button {
    all: unset;
}

footer {
    text-align: center;
    border-top: 2px solid lightgray;
    font-size: 12px;
    padding: 0.5rem;
    color: gray;
    a,p {
        margin-bottom: 0;
    }
    a {
        color: gray;
        text-decoration: underline;
    }
}

.show-container {
    .show-icon {
        display: none;
    }
}

.tasks-list {
    @media screen and (min-width: 540px) {
        display: flex;
    }
}

.logout-button {
    &:focus {
        outline: none;
    }
    border: none;
    background: none;
}

.color-grey {
    color: rgba(0, 0, 0, 0.5);
}

.small-header {
    font-size: 1.5rem;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}   

.article:first-child {
    background-color: red;;
}
