<header class="d-flex justify-content-between p-2 bg-light mb-4 sticky-top align-items-start">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <%if logged_in?%>
                    <%= link_to "New task", new_task_path, :class => 'nav-item nav-link' %>
                    <a class="nav-item nav-link" href="/tasks">My tasks</a>
                    <a class="nav-item nav-link" href="/progress">Progress</a>
                    <%= button_to "Logout", '/logout', method: :get, :class => 'nav-item nav-link logout-button'%>
                <%end%>
                <%if !logged_in?%>
                    <a href="/login" class="nav-item nav-link">Login</a>
                    <a href="/users/new" class="nav-item nav-link">Register</a>
                <%end%>
            </div>
        </div>
    </nav>
    <%if logged_in?%>
        <p class="mb-0 pt-3 pr-3 d-flex align-items-center color-grey">Hello <%= current_user.username%></p>
    <%end%>
</header>